
<head><style>*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 12px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 668px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(2):before { content: "Name :"; }
	td:nth-of-type(3):before { content: "Email :"; }
	td:nth-of-type(4):before { content: "Designation :"; }
	td:nth-of-type(5):before { content: "City :"; }
	
	
}
table {
  
  counter-reset: row-num=1;
}
table tr {
  counter-increment: row-num;
}
table tr td:first-child::before {
    content: counter(row-num) " ";
}

</style></head>

<div class="flex-container" style="border: 2px solid white; ">


<table border=1>
	 <thead>
        <tr>
           <th>#</th>
            <th style="padding-right: 200px;">Name</th>
            <th style="padding-right: 200px;">Email</th>
            <th style="padding-right: 200px;">Designation</th>
            <th style="padding-right: 200px;">City</th>
            <th style="width:200px;"></th>
        </tr>
       
    </thead>
	 <tbody>
        {{#each list}}
        <tr>
           <td></td>
             <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.desig}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
      
        {{/each}}
         
    </tbody>
</table>

</div>